.footer-container {
    background-color: #21283c;
    height: 400px;
}

.ft-container-main {
    padding-top: 35px;
}

.ft-row-1-p {
    color: white;
}

#btn-enquiry {
    border: 1;
    border-radius: 25px;
    background-color: white;
    color: #2a5392;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    /* width: 90px;
    height: 40px; */
    padding: 10px 35px 10px 35px;
    font-size: medium;
    font-weight: 600;
}