.navbar {
    border-bottom-color: black;
    border-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
}

.nav-list-color {
    color: black;
}

.sec-vision {
    margin-top: 250px;
}

#vision-para {
    color: #2a5392;
    font-family: sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#vision-head {
    margin-top: 50px;
    margin-bottom: 40px;
}

.our-services-img {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.sec-sectors-serve {
    width: 100%;
    height: 500px;
    background-color: lightgreen;
    margin-right: 20px;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-right: 180px;
}

.carousal-box-css {
    height: 400px;
}

/* ******************************** OUR STORYS BVG ***************************/

.OurStory {
    padding-bottom: 4rem
    
}

.OurStory h2 {
    font-size: 48px;
    font-weight: var(--bold) !important;
    color: #952e2f;
    margin: 60px 0 40px
}

.OurStory p {
    font-size: 22px;
    margin-bottom: 20px;
    color: #6fa449;
    padding: 15px 120px 15px 120px;
}

/* **************************** Our Services ************************************ */

.our-services-sec-container {
    padding: 15px 100px 15px 100px;
}

.our-services-h3 {
    color: #952e2f;
}


/* ******************************** ABOUT US PAGE CSS ***************************/

.aboutus-service1-container {
    background-color: rgb(243, 243, 235);
    width: 100%;
    height: 110vh;
    margin: 200px 0 50px 0;
}


.aboutus-heading{
    margin: 70px  0 30px 90px;
    color: #333300;
    font-size: xx-large;
    font-weight: 500;
    text-transform: uppercase;
}

.aboutus-span-line {    
    background-color: rgb(102, 13, 166); 
    width: 150px; 
    height: 5px;
    margin: 15px 0 15px 90px;
 }

 .aboutus-para {
    margin: 45px 30px 15px 90px;
    color: #020731;
    font-weight: 500;
    line-height: 28px;
 }

/* SERVICE SECTION IMG */

 .aboutus-service1-img-con{
    margin: 65px 25px 20px 45px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    padding: 20px;
    box-shadow: 15px 15px 10px 0  rgba(0,0,0,.2);
    /* background-color: #6fa449; */
 }

 .aboutus-service1-img-con img {
    width: 100%;
    height: 100%;
 }

 .aboutus-para-down {
    margin: 70px 90px 40px 90px;
    color: #020731;
    font-weight: 500;
    line-height: 28px;
 }

 /* ***************************** About Us SECTION 2 CSS *********************** */

 .section2-aboutus-container {
    margin: 0 0 85px 0;
    padding-top: 4px;
    width: 100%;
    height: 85vh;
    background-color: #FFFAF1;
 }

 .aboutUS-section2-part1 {
    width: 100%;
    height: 65vh;
 }

 .aboutUS-part1-h2 {
    margin: 50px 0 35px 0;
    text-align: center;
    color: black;
    font-weight: 600;
    line-height: 28px;
 }
 .aboutUs-section2-img-con {
    margin: 0 auto 0 auto;
    width: 45%;
    height: 50vh;
    justify-content: center;
    box-shadow: 5px 5px 10px;
 }

 .aboutUs-section2-img-con img {
    width: 100%;
    height: 100%;
 }

 /* SECTION 2 PART 2 */

 .aboutUS-section2-part2 {
    width: 100%;
    height: 65px;
    text-align: center;
 }

 .aboutUS-part2-para {
    margin: 40px 120px 0 120px;
    color: #020731;
    font-weight: 700;
    line-height: 28px;
 }