.navbar {
    border-bottom-color: black;
    border-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
}

.hams-color {
    color: #7F171F;
}

.navbar-nav > li{
    padding-left:18px;
    padding-right:18px;
}

.navbar-nav li a {
    text-decoration: none;
    font-weight: 600;
    line-height: 25px;
    font-size: 17px ;
}

.nav-list-color {
    color: #7F171F;
} 

/* LIST STYLING FINISHING TOUCH */
.navbar-nav li a{
    color: #7F171F;
    transition: color 0.3s ease;
}

.navbar-list-hover li:hover a{
    color: #f23b26;
}

/* .navbar-list-hover li:first-child a{
    color: #f23b26;
} */

.navbar-list-hover .line{
    position: absolute;
    height: 3px;
    width: 7%;
    background: #f23b26;
    left: -100%;
    bottom: 0;
    transition: all 0.3s ease;
  }

  .navbar-list-hover li:nth-child(1):hover ~ .line{
    left: 35%;
  }

  .navbar-list-hover li:nth-child(2):hover ~ .line{
    left: 43%;
  }
  .navbar-list-hover li:nth-child(3):hover ~ .line{
    left: 53%;
  }
  .navbar-list-hover li:nth-child(4):hover ~ .line{
    left: 63%;
  }
  .navbar-list-hover li:nth-child(5):hover ~ .line{
    left: 72%;
  }
  .navbar-list-hover li:nth-child(6):hover ~ .line{
    left: 82%;
  }

/* ************************************ Section1 Image slider ***************************** */

.section1-img-slider-con {
    margin: 78px 0 0 0;
}

.carousel-inner > .item > img {
    width:100%;
    height:360px;
  }

/* spacing container */

.spacing-pink {
    width: 100%;
    height: 75px;
    background-color: #fef4dc;
    margin-bottom: 0px;
}

/* ******************************** Section2 About == IMAGE CSS ***************************/

.service2-main-con {
    margin: 0 0 0 0;
    width: 100%;
    height: 65vh;
    background-color: #fef4dc;
} 

.heading-service2 {
    margin: 85px 0 0 140px;
    color: #2c1728;
    font-size: 65px;
    font-weight: 400;
}

.heading-service2 .span-service2 {
    color: #7F171F;
    font-size: 50px;
    font-weight: 500;
    font-weight: bold;
    text-transform: uppercase;
}

.para-service2 {
    margin: 25px 0 30px 140px;
    color: #7b7061;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.linktg-service-2 {
    margin: 100px 0 0 140px;
    color: black;
}

.img-service2-con {
    margin: 0 0 0 0;
    width: 100%;
    height: 65vh;
    object-fit: cover;
    background-color: rgb(250, 241, 241);
}

.img-service2-con img {
    width: 100%;
    height: 100%;
}



/* **************************** Our Services ************************************ */
.container-our-services {
    padding-top: 10px;
}

.container-our-services h2 {
    margin-bottom: 10px;
    margin-top: 15px;
    color: #7f171f;
    font-weight: 600;
    font-size: 45px;
}

.container-our-services h3 {
    color: #7f171f;
}

.container-our-services a {
    text-decoration: none;
}

.container-our-services a p {
    font-size: 16px;
    font-weight: var(--reguler) !important;
    line-height: 1.4;
    min-height: 120px;
    color: rgb(0, 6, 0);
}

.container-our-services {
    border-bottom: 4px solid  #7F171F;
    margin-bottom: 15px;
}

/* ************************************* Clients **************************** */

.clients-served {
    background: #f2f2f2;
    padding-bottom: 6rem;
}

.clients-served .sec-title {
    margin: 5rem 0 3rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: #7f171f;
}

.clients-served img {
    padding-bottom: 3rem
}




/* ******************************** ABOUT US PAGE CSS ***************************/

.aboutus-service1-container {
    /* background-color: rgb(243, 243, 235); */
    background-color: #fef4dc;
    width: 100%;
    height: 90vh;
    margin: 200px 0 0 0;
}


.aboutus-heading{
    margin: 70px  0 30px 90px;
    color: #7F171F;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.aboutus-span-line {    
    background-color: #2c1728; 
    width: 150px; 
    height: 5px;
    margin: 15px 0 15px 90px;
 }

 .aboutus-para {
    margin: 45px 30px 15px 90px;
    color: #020731;
    font-weight: 500;
    line-height: 28px;
 }

/* SERVICE SECTION IMG */

 .aboutus-service1-img-con{
    margin: 65px 25px 20px 40px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    padding: 20px;
    box-shadow: 15px 15px 10px 0  rgba(0,0,0,.2);
    background-color: rgb(249 197 121);
 }

 .aboutus-service1-img-con img {
    width: 100%;
    height: 100%;
 }

 /* ****************************** Section half abtU pg ************************** */
 .sec-half-abt {
    height: 88vh;
    background-color: rgb(251, 215, 221);
 }
 /* con 1 */
 .half-img-con-1 {
    margin: 65px 25px 20px 85px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    box-shadow: 10px 10px 10px 0  rgba(0,0,0,.2);
    background-color: white;
 }

 .half-img-con-1 img {
    max-width: 65px;
    max-height: 65px;
 }

 .half-abt-heading-1 {
    margin: 50px  0 30px 90px;
    color: #7F171F;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
 }
 
 .half-abt-para-1 {
    margin: 45px 30px 15px 90px;
    color: #2c1728;
    font-weight: 500;
    line-height: 28px;
 }
 
 /* Con 2 */
 .half-img-con-2 {
    margin: 65px 25px 20px 85px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    box-shadow: 10px 10px 10px 0  rgba(0,0,0,.2);
    background-color: white;
 }

 .half-img-con-2 img {
    max-width: 65px;
    max-height: 65px;
 }

 /* heading 2 */
 .half-abt-heading-2 {
    margin: 47px  0 30px 90px;
    color: #7F171F;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
 }

 /* para 2 */
 .half-abt-para-2 {
    margin: 45px 30px 15px 90px;
    color: #2c1728;
    font-weight: 500;
    line-height: 28px;
 }


 /* ***************************** About Us SECTION 2 CSS *********************** */

 .section2-aboutus-container {
    margin: 0 0 85px 0;
    padding-top: 4px;
    width: 100%;
    height: 85vh;
    background-color: #FFFAF1;
 }

 .aboutUS-section2-part1 {
    width: 100%;
    height: 65vh;
 }

 .aboutUS-part1-h2 {
    margin: 50px 0 35px 0;
    text-align: center;
    color: #7F171F;
    font-weight: 700;
    font-size: 45px;
    text-transform: up;
 }
 .aboutUs-section2-img-con {
    margin: 0 auto 0 auto;
    width: 45%;
    height: 50vh;
    justify-content: center;
    box-shadow: 5px 5px 10px;
 }

 .aboutUs-section2-img-con img {
    width: 100%;
    height: 100%;
 }

 /* SECTION 2 PART 2 */

 .aboutUS-section2-part2 {
    width: 100%;
    height: 65px;
    text-align: center;
 }

 .aboutUS-part2-para {
    margin: 40px 120px 0 120px;
    color: #020731;
    font-weight: 700;
    line-height: 28px;
 }

  /* Director name */
.director-name-con {
    margin: 47px  0 30px 0;
    color: #7F171F;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
 }


 
 /* ************************************* Section 3  about us page OVERVIEW ************************************* */

/* ************************** Section 4 about us page  DIRECTOR ************************** */



 /* ************************************* Media Queries ************************************ */


 @media screen and (max-width: 992px) {

    /* Section2 about  */
    .service2-main-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 120vh;
        background-color: #fef4dc;
    }

    /* OUR SERVICE SECTION 3 */
    .container-our-services {
        margin-top: 0;
        padding-top: 10px;
    }
    
    .container-our-services h2 {
        margin-bottom: 10px;
        margin-top: 0;
        color: #7f171f;
        font-weight: 600;
        font-size: 45px;
    }
    
    .container-our-services h3 {
        color: #7f171f;
    }
 }



 /* At 967 */

@media screen and (max-width: 967px) { 

    /* spacing container */

    .spacing-pink {
        width: 100%;
        height: 12px;
        background-color: #fef4dc;
        margin-bottom: 0px;
    }

    /* Section2 About == IMAGE CSS */

    .service2-main-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 110vh;
        background-color: #fef4dc;
    }
    

    .heading-service2 {
        margin: 12px 0 0 90px;
        color: #2c1728;
        font-size: 55px;
        font-weight: 400;
    }
    
    .heading-service2 .span-service2 {
        color: #7F171F;
        font-size: 40px;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
    }

    .para-service2 {
        margin: 25px 0 30px 90px;
        color: #7b7061;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .linktg-service-2 {
        margin: 100px 0 0 90px;
        color: black;
    }

    /* IMG CON (About == IMG) */

    .img-service2-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 65vh;
        object-fit: cover;
        background-color: rgb(250, 241, 241);
    }

    .img-service2-icon-res {
        margin-top: 25px;
    }

    /* Our Services section 2 */

    .container-our-services {
        margin-top: 10vh;
        padding-top: 0;
    }
}

 /* At 793px */

 @media screen and (max-width: 793px) { 

    /* spacing container */

    .spacing-pink {
        width: 100%;
        height: 35px;
        background-color: #fef4dc;
        margin-bottom: 0px;
    }

    /* Section2 About == IMAGE CSS */

    /* Section 2 about  */
    .service2-main-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 110vh;
        background-color: #fef4dc;
    }

    .heading-service2 {
        margin: 35px 0 0 55px;
        color: #2c1728;
        font-size: 50px;
        font-weight: 400;
    }
    
    .heading-service2 .span-service2 {
        color: #7F171F;
        font-size: 40px;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
    }

    .para-service2 {
        margin: 20px 0 15px 55px;
        color: #7b7061;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .linktg-service-2 {
        margin: 30px 0 45px 55px;
        color: black;
    }

    /* IMG CON (About == IMG) */

    .img-service2-icon-res {
        margin-top: 25px;
    }

    /* Our Services section 2 */

    .container-our-services {
        margin-top: 5vh;
        padding-top: 5px;
    }
} 


 /* At 630px IMG ( About == IMG )*/
 @media screen and (max-width: 630px) { 


    /* Section 2 about  */

    .service2-main-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 95vh;
        background-color: #fef4dc;
    }
    

    .img-service2-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 45vh;
        object-fit: cover;
        background-color: rgb(250, 241, 241);
    }

    .spacing-pink {
        width: 100%;
        height: 10px;
    }

    /* Our Services section 2 */

    .container-our-services {
        margin-top: 3vh;
        padding-top: 0;
    }

    .container-our-services h2 {
        margin-bottom: 0;
        margin-top: 0;
        color: #7f171f;
        font-weight: 600;
        font-size: 45px;
    }

    .container-our-services .row {
        margin-top: 0%;
    }
 }





 /* At 547px*/

 @media screen and (max-width: 547px) { 

    /* spacing container */

    .spacing-pink {
        width: 100%;
        height: 35px;
        background-color: #fef4dc;
        margin-bottom: 0px;
    }

    /* Section2 About == IMAGE CSS */

    .heading-service2 {
        margin: 25px 0 0 42px;
        color: #2c1728;
        font-size: 50px;
        font-weight: 400;
    }
    
    .heading-service2 .span-service2 {
        color: #7F171F;
        font-size: 40px;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
    }

    .para-service2 {
        margin: 20px 0 15px 42px;
        color: #7b7061;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .linktg-service-2 {
        margin: 30px 0 45px 42px;
        color: black;
    }

    /* IMG CON (About == IMG) */

    .img-service2-icon-res {
        margin-top: 20px;
    }
}


 /* At 407px IMG ( About == IMG )*/
 @media screen and (max-width: 407px) { 
    .img-service2-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 35vh;
        object-fit: cover;
        background-color: rgb(250, 241, 241);
    }

    .img-service2-icon-res {
        margin-top: 28px;
    }
 }


 /* At 393px */

 @media screen and (max-width: 393px) { 

    /* spacing container */

    .spacing-pink {
        width: 100%;
        height: 35px;
        background-color: #fef4dc;
        margin-bottom: 0px;
    }

    /* Section2 About == IMAGE CSS */

    .heading-service2 {
        margin: 25px 0 0 25px;
        color: #2c1728;
        font-size: 50px;
        font-weight: 400;
    }
    
    .heading-service2 .span-service2 {
        color: #7F171F;
        font-size: 40px;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
    }

    .para-service2 {
        margin: 20px 0 15px 25px;
        color: #7b7061;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .linktg-service-2 {
        margin: 30px 0 45px 25px;
        color: black;
    }

    /* IMG CON (About == IMG) */

    .img-service2-icon-res {
        margin-top: 20px;
    }
}

 /* At 305px */

 @media screen and (max-width: 305px) { 

    /* spacing container */

    .spacing-pink {
        width: 100%;
        height: 35px;
        background-color: #fef4dc;
        margin-bottom: 0px;
    }

    /* Section2 About == IMAGE CSS */

    .heading-service2 {
        margin: 25px 0 0 25px;
        color: #2c1728;
        font-size: 45px;
        font-weight: 400;
    }
    
    .heading-service2 .span-service2 {
        color: #7F171F;
        font-size: 35px;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
    }

    .para-service2 {
        margin: 20px 0 15px 25px;
        color: #7b7061;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .linktg-service-2 {
        margin: 30px 0 45px 25px;
        color: black;
    }

    /* IMG CON (About == IMG) */

    .img-service2-con {
        margin: 0 0 0 0;
        width: 100%;
        height: 25vh;
        object-fit: cover;
        background-color: rgb(250, 241, 241);
    }

    .img-service2-icon-res {
        margin-top: 23px;
    }


}

/* At 257 */

@media screen and (max-width: 257px) { 

    /* spacing container */

    .spacing-pink {
        width: 100%;
        height: 35px;
        background-color: #fef4dc;
        margin-bottom: 0px;
    }

    /* Section2 About == IMAGE CSS */

    .heading-service2 {
        margin: 25px 0 0 20px;
        color: #2c1728;
        font-size: 40px;
        font-weight: 400;
    }
    
    .heading-service2 .span-service2 {
        color: #7F171F;
        font-size: 30px;
        font-weight: 500;
        font-weight: bold;
        text-transform: uppercase;
    }

    .para-service2 {
        margin: 20px 0 15px 20px;
        color: #7b7061;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .linktg-service-2 {
        margin: 30px 0 45px 20px;
        color: black;
    }

    /* IMG CON (About == IMG) */

    .img-service2-icon-res {
        margin-top: 20px;
    }
}