/* .nav-color {
    background-color: black;
} */

.sec-vision {
    margin-top: 250px;
}

#vision-para {
    color: #2a5392;
    font-family: sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#vision-head {
    margin-top: 50px;
    margin-bottom: 40px;
}