*{
  margin: 0;
  padding: 0;
}


 /* ******************************** SERVICE SECTION 1 ********************************* */

.service1-container {
    background-color: rgb(243, 243, 235);
    width: 100%;
    height: 500px;
    margin: 200px 0 50px 0;
}


.heading-service {
    margin: 70px  0 30px 90px;
    color: #333300;
    font-size: xx-large;
    font-weight: 500;
    text-transform: uppercase;
}

.span-line {
    background-color: green; 
    width: 60px; 
    height: 5px;
    margin: 15px 0 15px 90px;
 }

 .service1-para {
    margin: 30px 0 15px 90px;
    color: #7F171F;
    font-weight: 500;
 }

/* SERVICE SECTION IMG */

 .service1-img-con {
    margin: 20px 25px 20px 0;
    width: 100%;
    height: 450px;
    object-fit: cover;
    /* background-color: rgb(252, 192, 64); */
    padding: 20px;
 }

 .service1-img-con img {
    width: 100%;
    height: 100%;
 }

 /* ********************************** SERVICE SECTION 2 ********************************* */


/* **************************************** Media queries for Service section *********************************/



/* Civil Work */



@media only screen and (max-device-width: 480px) {

   .service1-container {
      background-color: rgb(243, 243, 235);
      width: 100%;
      height: auto;
      margin: 150px 0 50px 0;
  }
  
  
  .heading-service {
      margin: 70px  0 30px 30px;
      color: #333300;
      font-size: xx-large;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  .span-line {
      background-color: green; 
      width: 60px; 
      height: 5px;
      margin: 15px 0 15px 30px;
   }
  
   .service1-para {
      margin: 30px 0 15px 30px;
      color: #7F171F;
      font-weight: 500;
   }
  
  /* SERVICE SECTION IMG */
  
   .service1-img-con {
      margin: 20px auto 20px auto;
      width: 100%;
      height: auto;
      object-fit: cover;
      /* background-color: rgb(252, 192, 64); */
      padding: 20px;
   }
  
   .service1-img-con img {
      width: 100%;
      height: 100%;
   }


}


/* potrait */

@media only screen and (min-device-width: 481px) and (max-device-width: 645px) and (orientation:portrait) {
   .service1-container {
      background-color: rgb(243, 243, 235);
      width: 100%;
      height: auto;
      margin: 150px 0 50px 0;
  }
  
  
  .heading-service {
      margin: 70px  0 30px 30px;
      color: #333300;
      font-size: xx-large;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  .span-line {
      background-color: green; 
      width: 60px; 
      height: 5px;
      margin: 15px 0 15px 30px;
   }
  
   .service1-para {
      margin: 30px 0 15px 30px;
      color: #7F171F;
      font-weight: 500;
   }
  
  /* SERVICE SECTION IMG */
  
   .service1-img-con {
      margin: 20px auto 20px auto;
      width: 100%;
      height: auto;
      object-fit: cover;
      /* background-color: rgb(252, 192, 64); */
      padding: 20px;
   }
  
   .service1-img-con img {
      width: 100%;
      height: 100%;
   }
}

/* Landspace */

@media only screen and (min-device-width: 481px) and (max-device-width: 645px) and (orientation:landscape) {
   .service1-container {
      background-color: rgb(243, 243, 235);
      width: 100%;
      height: auto;
      margin: 150px 0 50px 0;
  }
  
  
  .heading-service {
      margin: 70px  0 30px 30px;
      color: #333300;
      font-size: xx-large;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  .span-line {
      background-color: green; 
      width: 60px; 
      height: 5px;
      margin: 15px 0 15px 30px;
   }
  
   .service1-para {
      margin: 30px 0 15px 30px;
      color: #7F171F;
      font-weight: 500;
   }
  
  /* SERVICE SECTION IMG */
  
   .service1-img-con {
      margin: 20px auto 20px auto;
      width: 100%;
      height: auto;
      object-fit: cover;
      /* background-color: rgb(252, 192, 64); */
      padding: 20px;
   }
  
   .service1-img-con img {
      width: 100%;
      height: 100%;
   }

}

/* 646 < potrait */

@media only screen and (min-device-width: 646px) and (max-device-width: 1024px) and (orientation:portrait) {
   .service1-container {
      background-color: rgb(243, 243, 235);
      width: 100%;
      height: auto;
      margin: 150px 0 50px 0;
  }
  
  
  .heading-service {
      margin: 70px  0 30px 30px;
      color: #333300;
      font-size: xx-large;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  .span-line {
      background-color: green; 
      width: 60px; 
      height: 5px;
      margin: 15px 0 15px 30px;
   }
  
   .service1-para {
      margin: 30px 0 15px 30px;
      color: #7F171F;
      font-weight: 500;
   }
  
  /* SERVICE SECTION IMG */
  
   .service1-img-con {
      margin: 20px auto 20px auto;
      width: 100%;
      height: auto;
      object-fit: cover;
      /* background-color: rgb(252, 192, 64); */
      padding: 20px;
   }
  
   .service1-img-con img {
      width: 100%;
      height: 100%;
   }

}

/* 646 < Landscape */

@media only screen and (min-device-width: 646px) and (max-device-width: 1024px) and (orientation:landscape) {
   .service1-container {
      background-color: rgb(243, 243, 235);
      width: 100%;
      height: auto;
      margin: 150px 0 50px 0;
  }
  
  
  .heading-service {
      margin: 70px  0 30px 30px;
      color: #333300;
      font-size: xx-large;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  .span-line {
      background-color: green; 
      width: 60px; 
      height: 5px;
      margin: 15px 0 15px 30px;
   }
  
   .service1-para {
      margin: 30px 0 15px 30px;
      color: #7F171F;
      font-weight: 500;
   }
  
  /* SERVICE SECTION IMG */
  
   .service1-img-con {
      margin: 20px auto 20px auto;
      width: 100%;
      height: auto;
      object-fit: cover;
      /* background-color: rgb(252, 192, 64); */
      padding: 20px;
   }
  
   .service1-img-con img {
      width: 100%;
      height: 100%;
   }

}

/* 1024 < */

@media only screen and (min-device-width: 1024px) and (max-device-width: 2000px) and (orientation:landscape) {
   .service1-container {
      background-color: rgb(243, 243, 235);
      width: 100%;
      height: auto;
      margin: 150px 0 50px 0;
  }
  
  
  .heading-service {
      margin: 70px  0 30px 30px;
      color: #333300;
      font-size: xx-large;
      font-weight: 500;
      text-transform: uppercase;
  }
  
  .span-line {
      background-color: green; 
      width: 60px; 
      height: 5px;
      margin: 15px 0 15px 30px;
   }
  
   .service1-para {
      margin: 30px 0 15px 30px;
      color: #7F171F;
      font-weight: 500;
   }
  
  /* SERVICE SECTION IMG */
  
   .service1-img-con {
      margin: 20px auto 20px auto;
      width: 100%;
      height: auto;
      object-fit: cover;
      /* background-color: rgb(252, 192, 64); */
      padding: 20px;
   }
  
   .service1-img-con img {
      width: 100%;
      height: 100%;
   }

}